@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    @apply flex items-center justify-center;    
}

.flex-start {
    @apply flex items-start justify-start;    
}

.flex-end {
    @apply flex items-end justify-end;    
}